body {
    padding-top: 80px; /* for NAVBAR  */
    font-family: "Tahoma", Arial, sans-serif;
    position: relative;
}

a:hover {
    text-decoration: none;
}

/* HEADERS */

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #96B62A;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #9c0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    color: #666;
}

/* NAVBAR */

.myNavbar {
    min-height: 70px;
    background-color: #fff;
    border: none;
}

 .myLogo {
    margin: 0 12px 0 12px;
}

.container>.navbar-header {
    min-height: 70px;
}

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     background-color: #fff;
 }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

 ul.navbar-nav li.myLi {
    padding-top: 10px;
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 1.1em;
    color: #666;
    padding-left: 10px;
    padding-right: 5px;
}

ul.navbar-nav li.myLi a.myA {
    color: #666;
}

ul.navbar-nav li.myLi a.myA:hover, ul.navbar-nav li.myLi a.myA:active, ul.navbar-nav li.myLi a.myA:visited {
    color: #666;
    background-color: transparent;
}

ul.navbar-nav li.myLi.active {
    border-bottom: 10px #9c0 solid;
}

.myRegisterButton {
    padding: 10px 17px;
    background-color: #9c0;
    color: #fff;
}

.navbar-brand>img {
    display: inline-block;
}

.myBrand {
    display: inline-block;
}

.myLogoAsk {
    width: 30px;
    margin: 0;
    display: inline-block;
}

.myLogoAskText {
    font-size: 16px;
    line-height: 0.95;
    display: inline-block;
    margin-right: 25px;
}

/* HEADER */

.myHeaderImg {
    box-shadow:  0px 0px 15px #888888;
    margin-bottom: 20px;
}

.myEventDesc {
    text-align: justify;
}

.myEventDesc > p {
    margin: 15px 0;
}

/* SLOTS */

.mySlotsHeader {
    margin: 0 0 15px 0px;
    font-size: 1.4em;
    font-weight: normal;
    color: #666;
}

.mySlotsHeader:first-of-type {
    padding-top: 20px;
}

.mySlotsHeader:before {
    content: url("/images/dot.jpg");
    padding: 0 25px 0 0;
}

.mySlotsText {
    margin: 0 0 15px 0px;
    text-align: justify;
}

.myMapContainer {
    padding: 15px;
    display: block;
    min-height: 500px;
}

.myPartnersText {
    padding: 0 0 20px 0;
    text-align: justify;
    display: block;
}

.myPartnersImg:first-of-type {
    margin-top: 15px;
}

.myPartnersImg {
    display: block;
    max-height: 100px;
}

/* REGISTRATION */

.myRegistrationForm input {
    margin-bottom: 15px;
}

/* CONTENT */

.myGreenNotice {
    font-size: 1.4em;
    font-weight: bold;
    color: #96B62A;
}

a.myGreenLink {
    font-size: 1.15em;
    font-weight: bold;
    color: #96B62A;
}

a.myGreenLink:hover {
    text-decoration: none;
}

/* PRELOADER */

#myPreloader{
    position: relative;
    left: 50%;
    width: 40px;
    height: 40px;
}
#myPreloader span{
    display:block;
    bottom:0px;
    width: 20px;
    height: 20px;
    background:#9b59b6;
    position:absolute;
}
#myPreloader span:nth-child(1){
    animation: preloader_2_1 1.5s infinite ease-in-out;
}
#myPreloader span:nth-child(2){
    left:20px;
    animation: preloader_2_2 1.5s infinite ease-in-out;

}
#myPreloader span:nth-child(3){
    top:0px;
    animation: preloader_2_3 1.5s infinite ease-in-out;
}
#myPreloader span:nth-child(4){
    top:0px;
    left:20px;
    animation: preloader_2_4 1.5s infinite ease-in-out;
}

@keyframes preloader_2_1 {
0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
50% {-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
80% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@keyframes preloader_2_2 {
0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
50% {-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
80% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@keyframes preloader_2_3 {
0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
50% {-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
80% {-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}


@keyframes preloader_2_4 {
0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
50% {-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
80% {-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}























